@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
/* colors */
/* text colors */
/* event colors */
/* sizes */
/* font sizes */
/* box-radius */
/* box-shadow */
/* mobile-first approach */
/* responsive breakpoints */
.text-xs {
  font-size: 0.75rem;
  line-height: 1;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25;
}

.text-base {
  font-size: 16px;
  line-height: 18.77px;
}

.text-lg {
  font-size: 12px;
  line-height: 14.08px;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-8xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-9xl {
  font-size: 8rem;
  line-height: 1;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2em 1em 0;
  min-height: 100vh;
  overflow: hidden scroll;
}
@media only screen and (min-width: 80em) {
  .login {
    flex-direction: row;
    max-height: 100vh;
    padding: 0;
    overflow: hidden;
  }
}
.login__hero {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 80em) {
  .login__hero {
    width: 50%;
    padding: 0 3em;
    background-color: rgba(212, 216, 226, 0.1490196078);
    height: 100vh;
    justify-content: center;
  }
}
.login__hero--logo {
  margin-inline: auto;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 80em) {
  .login__hero--logo {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
}
.login__form {
  flex-grow: 0.8;
  padding-bottom: 1em;
  width: 100%;
  transition: all 300ms ease-in;
}
@media only screen and (min-width: 40em) {
  .login__form {
    width: clamp(100vw - 30%, 60%, 100vw);
    margin-inline: auto;
  }
}
@media only screen and (min-width: 80em) {
  .login__form {
    width: 50%;
    padding: 0 3em;
    background-color: #ffffff;
  }
}
.login__form .title {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1em;
}
@media only screen and (min-width: 80em) {
  .login__form .title {
    margin-bottom: 4em;
  }
}
.login__form .title h1 {
  color: #213f7d;
}
.login__form .title h1 + p {
  color: #545f7d;
}
.login__form .form {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}
.login__form .form .input {
  padding: 0.5em 1em;
  height: 3.125rem;
}
.login__form .form .input:focus {
  background-color: #fcfcfc;
}
.login__form .form .passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}
.login__form .form .passwordContainer .btn {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  color: #39cdcc;
  font-weight: 500;
  margin: 0.2em;
  max-width: fit-content;
}
@media only screen and (min-width: 40em) {
  .login__form .form .passwordContainer .btn {
    padding: 0.3em 1em;
    margin-right: 0.5em;
    display: flex;
  }
}
.login__form .form .btn--forgot-password {
  background-color: transparent;
  color: #39cdcc;
  width: fit-content;
  padding: 0.25em 0.5em;
  transform: translateY(-0.5rem);
}
.login__form .form .btn--login {
  background-color: #39cdcc;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  height: 3rem;
  transition: all 300ms ease-in;
}
.login__form .form .btn--login:hover {
  background-color: #2eb5b4;
  color: white;
}

.input {
  border: 1px solid rgba(33, 63, 125, 0.168627451);
  border-radius: 3px;
  color: gray;
  outline: none;
  padding: 1em;
  width: 100%;
}
.input:focus {
  border: 1px solid rgba(12, 14, 18, 0.1490196078);
  outline: none;
}
.input::placeholder {
  color: #999999;
}

.btn {
  border: none;
  color: #545f7d;
  cursor: pointer;
  padding: 0.25em 0.5em;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

img, picture {
  max-width: 100%;
  display: block;
}/*# sourceMappingURL=Login.css.map */